# More Variable Types!

In [1]:
a = 2+2

In [2]:
type(a)

int

In [3]:
b = 'Mike' + 'Mike'

In [4]:
type(b)

str

In [5]:
b

'MikeMike'

In [6]:
'Mike'*10

'MikeMikeMikeMikeMikeMikeMikeMikeMikeMike'

In [7]:
True + True

2

In [8]:
False + False

0

In [9]:
True * False

0

In [10]:
True + True - False

2

In [11]:
'Mike' + '-' + 'Mike'

'Mike-Mike'

In [12]:
a = 'Mike' + '-' + 'Mike'

In [13]:
type(a)

str

In [14]:
a

'Mike-Mike'

In [21]:
# Two big things going to happen
# . notation
# collections
b = a.split('-')

In [19]:
b

['Mike', 'Mike']

In [20]:
type(b)

list

## . (dot) notation

In [22]:
myname = 'Mike'

In [23]:
myname

'Mike'

In [24]:
type(myname)

str

In [25]:
myname.upper()

'MIKE'

In [26]:
myname.lower()

'mike'

In [27]:
myname.title()

'Mike'

In [29]:
myname.find('M')

0

In [30]:
myname.find('i')

1

In [31]:
myname.find('k')

2

In [32]:
myname.find('e')

3

In [33]:
myname.upper()

'MIKE'

In [34]:
myname

'Mike'

In [35]:
b = myname.upper()

In [36]:
b

'MIKE'

In [37]:
myname

'Mike'

In [38]:
len(myname)

4

In [39]:
len('asdfasdfasdfasdfasdfasdfasdfasdfasfd')

36

In [40]:
len(' Mike ')

6

In [42]:
## Lists
# lists are just a collection of things that have order

In [43]:
myname = ['M', 'i', 'k', 'e']

In [44]:
myname

['M', 'i', 'k', 'e']

In [45]:
type(myname)

list

In [46]:
newlist = ['a', 'b', 1, 2, 'Mike', 'bananas', True]

In [47]:
type(newlist)

list

In [48]:
newlist

['a', 'b', 1, 2, 'Mike', 'bananas', True]

In [49]:
newlist2 = ['a', 'a', 'a', 'a', 1]

In [50]:
type(newlist2)

list

In [51]:
newlist2

['a', 'a', 'a', 'a', 1]

In [52]:
# lists have order
# lists can have duplicates

In [53]:
len(newlist)

7

In [54]:
len(newlist2)

5

In [55]:
# Because this is a string, len() counts the number of characters
len('Mike')

4

In [57]:
# Because this is alist, len() counts the number of items in the list
len( ['Mike'] )

1

In [58]:
type('Mike')

str

In [59]:
type(['Mike'])

list

In [60]:
len(3.14159)

TypeError: object of type 'float' has no len()

In [61]:
len('3.14159')

7

In [62]:
myname_list = ['M','i','k','e']

In [63]:
type(myname_list)

list

In [64]:
myname_list

['M', 'i', 'k', 'e']

In [65]:
len(myname_list)

4

In [68]:
# You can reference an element in a list by calling its position
# computers start counting at 0
myname_list[0]

'M'

In [67]:
myname_list[1]

'i'

In [69]:
myname_list[3]

'e'

In [70]:
myname = 'Mike'

In [71]:
myname[3]

'e'

In [72]:
myname_list

['M', 'i', 'k', 'e']

In [73]:
myname_list.upper()

AttributeError: 'list' object has no attribute 'upper'

In [74]:
myname_list.append('D')

In [78]:
type(myname_list)

list

In [79]:
myname_list

['M', 'i', 'k', 'D']

In [75]:
myname_list

['M', 'i', 'k', 'e', 'D']

In [76]:
myname_list.remove('e')

In [77]:
myname_list

['M', 'i', 'k', 'D']

In [87]:
myname_list.remove('e')

ValueError: list.remove(x): x not in list

In [89]:
# can you remove two things at once

# Yes - google it

In [80]:
shopping_list = ['a','a','a','a','a']

In [81]:
shopping_list.remove('a')

In [82]:
shopping_list

['a', 'a', 'a', 'a']

In [84]:
shopping_list = ['a',1,'a',2,'a',3,'a',4,'a']

In [85]:
shopping_list.remove('a')

In [86]:
shopping_list

[1, 'a', 2, 'a', 3, 'a', 4, 'a']

In [90]:
myname_list

['M', 'i', 'k', 'D']

In [91]:
myname_list = ['M', 'i', 'k', 'e']

In [92]:
myname_list

['M', 'i', 'k', 'e']

In [93]:
myname_list[0]

'M'

In [94]:
myname_list[3]

'e'

In [95]:
myname_list[4]

IndexError: list index out of range

In [96]:
myname_list[-1]

'e'

In [98]:
myname.find('M')

0

In [101]:
myname.find('e')

3

In [100]:
myname_list[3]

'e'

In [102]:
myname.find('d')

-1

In [103]:
myname_list[-1]

'e'

In [104]:
yourname = ['L','a','u','r','a']

In [105]:
myname_list

['M', 'i', 'k', 'e']

In [106]:
yourname

['L', 'a', 'u', 'r', 'a']

In [107]:
len(myname_list)

4

In [108]:
len(yourname)

5

In [109]:
myname_list[0]

'M'

In [110]:
yourname[0]

'L'

In [111]:
myname_list[3]

'e'

In [112]:
yourname[3]

'r'

In [113]:
yourname[-1]

'a'

In [114]:
yourname[-3]

'u'

In [115]:
myname_list[-5]

IndexError: list index out of range

In [130]:
blank_list = []

In [131]:
type(blank_list)

list

In [132]:
len(blank_list)

0

In [134]:
blank_list2 = list()

In [135]:
type(blank_list2)

list

In [136]:
len(blank_list2)

0

## Tuples

In [116]:
# Tuples are immutable lists, meaning once you create them you can't change them

In [117]:
a = [1,2,3]

In [118]:
type(a)

list

In [119]:
a[1]

2

In [120]:
a[4]

IndexError: list index out of range

In [121]:
a

[1, 2, 3]

In [122]:
a[2] = 'b'

In [123]:
a

[1, 2, 'b']

In [124]:
d = (1,2,3)

In [125]:
type(d)

tuple

In [126]:
d[1]

2

In [127]:
d[2]

3

In [128]:
d[2] = 'b'

TypeError: 'tuple' object does not support item assignment

In [129]:
d.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [137]:
d = ()

In [138]:
type(d)

tuple

In [139]:
len(d)

0

In [140]:
d = tuple()

In [141]:
type(d)

tuple

# Sets

In [142]:
d = set()

In [143]:
type(d)

set

In [144]:
len(d)

0

In [145]:
d

set()

In [146]:
d.add(1,2,3)

TypeError: add() takes exactly one argument (3 given)

In [147]:
d.add(1)

In [148]:
d.add(2)

In [149]:
d.add(3)

In [150]:
d

{1, 2, 3}

In [151]:
d.add(3)

In [152]:
d

{1, 2, 3}

In [153]:
d.add(3)

In [154]:
d

{1, 2, 3}

In [155]:
d.add(2)

In [156]:
d

{1, 2, 3}

In [157]:
d.add(4)

In [158]:
d

{1, 2, 3, 4}

In [159]:
laura_set = set()

In [160]:
laura_set.add('L')

In [161]:
laura_set.add('a')

In [162]:
laura_set.add('u')

In [163]:
laura_set.add('r')

In [164]:
laura_set.add('a')

In [165]:
laura_set

{'L', 'a', 'r', 'u'}

In [166]:
laura_set[0]

TypeError: 'set' object is not subscriptable

In [167]:
# lists have order, lists can have duplicates
# sets do not have order, sets cannot have duplicates

In [168]:
laura_set.add('d')

In [169]:
laura_et

NameError: name 'laura_et' is not defined

In [170]:
laura_set

{'L', 'a', 'd', 'r', 'u'}

In [171]:
laura_set.add('Z')

In [172]:
laura_set

{'L', 'Z', 'a', 'd', 'r', 'u'}

In [173]:
laura_set.add(1)

In [174]:
laura_set

{1, 'L', 'Z', 'a', 'd', 'r', 'u'}

# Inception

In [175]:
a = [1,2,3]

In [176]:
type(a)

list

In [177]:
a

[1, 2, 3]

In [178]:
type(a[1])

int

In [182]:
a[1]

2

In [179]:
a.append('Mike')

In [180]:
a

[1, 2, 3, 'Mike']

In [181]:
type(a[3])

str

In [183]:
a.append(['bananas','milk','cookies'])

In [184]:
a

[1, 2, 3, 'Mike', ['bananas', 'milk', 'cookies']]

In [185]:
len(a)

5

In [186]:
type(a)

list

In [187]:
type(a[4])

list

In [188]:
a[4]

['bananas', 'milk', 'cookies']

In [189]:
a[4][1]

'milk'

In [190]:
a[4][0]

'bananas'

In [191]:
a.append( ('a','b') )

In [192]:
a

[1, 2, 3, 'Mike', ['bananas', 'milk', 'cookies'], ('a', 'b')]

In [193]:
type(a[5])

tuple

In [194]:
a[5][1]

'b'

In [195]:
a[4].append('juice')

In [196]:
a

[1, 2, 3, 'Mike', ['bananas', 'milk', 'cookies', 'juice'], ('a', 'b')]

In [197]:
a.append( set() )

In [198]:
a

[1, 2, 3, 'Mike', ['bananas', 'milk', 'cookies', 'juice'], ('a', 'b'), set()]

In [199]:
a[6]

set()

In [200]:
a[6].add(1)

In [201]:
a

[1, 2, 3, 'Mike', ['bananas', 'milk', 'cookies', 'juice'], ('a', 'b'), {1}]

# Dictionaries!

In [202]:
a = dict()

In [203]:
type(a)

dict

In [204]:
b = {}

In [205]:
type(b)

dict

In [206]:
b['myname'] = 'Mike'

In [207]:
b['yourname'] = 'Bob'

In [208]:
b

{'myname': 'Mike', 'yourname': 'Bob'}

In [209]:
b[0]

KeyError: 0

In [210]:
b['myname']

'Mike'

In [211]:
b['yourname']

'Bob'

In [212]:
b['yourname'] = 'Laura'

In [213]:
b

{'myname': 'Mike', 'yourname': 'Laura'}

In [214]:
b['yourname'] = 1

In [215]:
b

{'myname': 'Mike', 'yourname': 1}

In [216]:
b['yourname'] = ['milk','bananas','cookies']

In [217]:
b

{'myname': 'Mike', 'yourname': ['milk', 'bananas', 'cookies']}

In [218]:
b['yourname'][1]

'bananas'

In [219]:
b['my_other_name'] = 'Mike'

In [222]:
b

{'myname': 'Mike',
 'yourname': ['milk', 'bananas', 'cookies'],
 'my_other_name': 'Mike'}

In [223]:
b['myname'] = 'Joe'

In [224]:
b

{'myname': 'Joe',
 'yourname': ['milk', 'bananas', 'cookies'],
 'my_other_name': 'Mike'}

In [225]:
b['yourname']

['milk', 'bananas', 'cookies']